<div class="container">

  <h1 class="mt-3" >Welcome!</h1>

  <div class="input-group mt-5 mb-3">
    <input type="text" class="form-control" placeholder="Please type your card system id" aria-label="Recipient's username" aria-describedby="button-addon2"
    [(ngModel)]="searchText">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
    (click)="searchCard()">Search</button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>Card Information</h4>
        <div class="mb-3 row">
          <h6 class="col-sm-2 col-form-label">Number</h6>
          <label class="col-sm-2 col-form-label">{{card.cardNumber}}</label>
        </div>
        <div class="mb-3 row">
          <h6 class="col-sm-2 col-form-label">Owner</h6>
          <label class="col-sm-2 col-form-label">{{card.owner}}</label>
        </div>
        <div class="mb-3 row">
          <h6 class="col-sm-2 col-form-label">Document</h6>
          <label class="col-sm-2 col-form-label">{{card.documentId}}</label>
        </div>
        <div class="mb-3 row">
          <h6 class="col-sm-2 col-form-label">Phone</h6>
          <label class="col-sm-2 col-form-label">{{card.phone}}</label>
        </div>
        <div class="mb-3 row">
          <h6 class="col-sm-2 col-form-label">Status</h6>
          <label class="col-sm-2 col-form-label">{{card.status}}</label>
        </div>
      </div>
      <div class="col-sm">
        <h4>Card Transactions</h4>
        <table class="table">
          <thead>
            <td>Transaction date</td>
            <td>Reference number</td>
            <td>Status</td>
            <td>Value</td>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>
                {{transaction.transactionDate}}
              </td>
              <td>
                {{transaction.referenceNumber}}
              </td>
              <td [ngClass]="transaction.transactionStatus == 'Approved' ? 'status_a' : 'status_r'">
                {{transaction.transactionStatus}}
              </td>
              <td>
                {{transaction.total}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>